* {
    font-family: 'PT Serif', serif;
}
body {
    width: 100%;
    margin: 0;
    font-family: 'PT Serif', serif;
}
.nav-container {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    text-align: left;
    background-color: rgb(255, 220, 215);
    padding: 0 45px;
}
.link {
    display: flex;
    justify-content: center;
    align-items:center;
}
.logo {
    font-size: 30px;
    font-weight: 550;
    color: salmon;
    margin: 0 10px;
    margin-left: 20px;
}
.link a {
    margin: 8px;
    text-decoration: none;
    color: rgb(112, 108, 108);
    font-size: 16px;
    transition: 0.25s ease-in-out;
}
.link a:hover {
    color: rgb(43, 41, 41);
}
.btn {
    display: flex;
    margin: 15px 30px;
}
.masuk {
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 6px 12px;
    color: rgb(112, 108, 108);
    transition: 0.25s ease-in-out;
    margin: 0 8px;
}
.masuk:hover {
    border-radius: 5px;
    cursor: pointer;
    color: rgb(233, 93, 77);
}
.daftar {
    border-radius: 5px;
    border: 1px solid salmon;
    background-color: transparent;
    font-size: 18px;
    padding: 6px 12px;
    color: rgb(233, 93, 77);
    transition: 0.25s ease-in-out;
    margin: 0 8px;
}
.daftar:hover {
    background-color: rgb(44, 200, 221);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(44, 200, 221);
}
.cont-1 {
    display: flex;
    background-color: rgb(255, 220, 215);
    margin-right: 0;
    padding-right: 0;
}
.content-1a {
    flex-basis: 60%;
    background-color: yellowgreen;
    padding: 0 45px;
    margin: 50px 20px;
    margin-right: 0;
    padding-right: 0;
    background-color: rgb(255, 220, 215);
}
.gambar-1 {
    flex-basis: 40%;
    height: 75vh;
    width: 75vw;
    background-color: rgb(255, 220, 215);
    padding-left: 0;
    margin-left: 0;
    display: right;
}
.judul-1 {
    font-size:40px;
    font-weight: 800;
    width: 100%;
    text-align: left;
    margin-right: 0;
    padding: 60px 0 10px 0;
    margin-bottom: 10px;
}
.isi-1 {
    text-align: left;
    padding : 10px 20px 15px 0;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
    color: rgb(112, 108, 108);
}
.buat-sekarang {
    border-radius: 7px;
    border: 1px solid rgb(44, 200, 221);
    padding: 10px 45px;
    font-size: 16px;
    margin: 15px;
    background-color: rgb(44, 200, 221);
    justify-content: left;
    margin-left: 0;
    transition: 0.25s ease-in-out;
    color: white;
}
.buat-sekarang:hover {
    color: white;
    background-color: salmon;
    border: 1px solid salmon;
}
.lihat-video {
    border-radius: 7px;
    border: 1px solid salmon;
    padding: 10px 45px;
    font-size: 16px;
    margin: 15px;
    background-color: transparent;
    margin-top: 0;
    justify-content: left;
    margin-left: 0;
    transition: 0.25s ease-in-out;
    color: rgb(233, 93, 77);
}
.lihat-video:hover {
    color: white;
    background-color: rgb(44, 200, 221);
    border: 1px solid rgb(44, 200, 221);
}
.cont-2 {
    display: flex;
    margin-right: 0;
    padding-right: 0;
    padding-top: 70px;
    padding-bottom: 80px;
}
.content-2a {
    flex-basis: 40%;
    padding: 0 45px;
    margin: 50px 20px;
    margin-right: 0;
    padding-right: 0;
}
.gambar-2 {
    flex-basis: 60%;
    display: right;
    width: 80%;
    height: 80%;
    padding-left: 50px;
}
.judul-2 {
    font-size:37px;
    font-weight: 800;
    width: 100%;
    text-align: left;
    margin-right: 0;
    padding: 40px 0 10px 0;
    margin-bottom: 0px;
}
.isi-2 {
    text-align: left;
    padding : 10px 20px 15px 0;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
    color: rgb(112, 108, 108);
    margin-top: 0;
}
.gambar-4 {
    display: right;
    width: 40%;
    height: 40%;
    margin: 20px 45px;
    padding-left: 25px;
    margin-bottom: 10px;
}
.gambar-3 {
    display: right;
    width: 35%;
    height:35%;
    border-radius: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 30px;
    margin-right: 20px;
}
.cont-3 {
    display: flex;
    margin-right: 0;
    padding-right: 0;
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: rgb(255, 220, 215);
}
.gambar-5 {
    padding-left: 0;
    margin-left: 40px;
    display: right;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 220, 215);
    padding-left: 40px;
}
.gambar-6 {
    display: right;
    justify-content: center;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    padding-left: 40px;
    margin-right: 0;
}
.gambar-7 {
    display: right;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 220, 215);
    margin-left: 70px;
}

