body {
    background-color: rgb(224, 224, 224);
}
.header {
    position: fixed;
    width: 100%;
}
.logo{
    flex-basis: 30%;
    color: #301d75;
    font-weight: 350;
}
.link{
    flex-basis: 70%;
}
.link a{
    text-decoration: none;
    color:  #564e72;
    font-weight: 200;
}
.link a:hover{
    color:  #87a0ce
}
.content {
    display: flex;
    background-image: url('./foto/fix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    /* background-color: rgba(26, 12, 104, 0.6); */
}
.foto {
    flex-basis: 50%;
    width: 39vw;
    height: 100vh;
    margin: 120px 0 0 150px;
}
.biodata {
    flex-basis: 50%;
    width: 40vw;
    height: 100vh;
    padding: 50px;
    padding-left: 80px;
    margin: 120px 150px 0 0;
    background-color: aliceblue;
}
.biodata div{
    padding: 20px;

}
.biodata h2, .bio2 {
    color: #2d2c75;
    font-weight: 350;
   
}
.biodata h3, .years h3, .details h4 , .bio2 h3{
    font-size: 18px;
    color: #2d2c75;
    font-weight: 480;
}
.biodata h4, .years h4, .bio2 h4{
    font-size: 15px;
    font-weight: 350;
    color: #564e72;
}
.contact {
    background-color: #111052;
    margin: 0 150px 0 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-whatsapp, .fa-linkedin, .fa-instagram, .fa-twitter, .fa-github {
    font-size: 25px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.25s ease-in-out;
}
.fa-whatsapp:hover, .fa-linkedin:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-github:hover {
   cursor: pointer;
   font-size: 30px;
}
.hello {
    height: 70vh;
    margin: 0;
    padding: 100px 300px;
    text-align: center;
    background-color: rgb(224, 224, 224);
}
.hello h3{
    color: #3a3986;
    font-weight: 350;
    margin-bottom: 30px;
}
.hello p, .details p{
    font-size: 16px;
    color: #564e72;
    font-weight: 350;
}
.exp, .edu {
    background-color: white;
    padding: 35px 300px;
    text-align: center;
    flex-basis: 30%;
    color: #301d75;
    font-weight: 350;
    font-size: 25px;
}
.isiexp {
    background-color: white;
    border-top: 1px solid rgb(201, 193, 193);
    border-bottom: 1px solid rgb(201, 193, 193);
}
.years{
    flex-basis: 40%;
    text-align: right;
}
.titik {
    flex-basis: 10%;
    font-size: 50px;
    text-align: center;
}
.details {
    flex-basis: 40%;
    text-align: left;
}
.exp-foto {
    background-color: white;
    padding: 30px;
    text-align: center;
    border-top: 1px solid rgb(228, 222, 222);
}
.exp-foto1 {
    width: 17vw;
    height: 17vh;
    padding: 0 15px 0 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.skills {
    background-color:  #111052;
    padding: 35px 300px;
    text-align: center;
    flex-basis: 30%;
    color: white;
    font-weight: 350;
    font-size: 25px;
    border-bottom: 1px solid rgb(228, 222, 222);
}
.skills-1 {
    background-color:  #111052;
    display: flex;
    padding: 20px;
}
.skills-a, .skills-b{
    flex-basis: 50%;
    padding: 20px;
}
.skills-az {
    background-color: rgb(110, 110, 150);
    color: white;
    padding: 30px 25px;
    text-align: center;
    margin: 20px ;
}
.form {
    flex-basis: 50%;
    padding: 50px;
}
.bio2 {
    flex-basis: 50%;
    border-left: 1px solid white;
    padding: 50px 50px 50px 70px;
}
.bio2 h3 {
    margin-bottom: 10px;
}
.contact2 {
    background-color: #111052;
    padding: 25px;
    display: flex;
    border-top: 1px solid rgb(94, 91, 91);
    margin-top: 50px;
    border-radius: 8px;
    /* justify-content: space-around; */
}
.contact2, .fa-whatsapp, .fa-linkedin, .fa-instagram, .fa-twitter, .fa-github {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 10px;
    transition: 0.25s ease-in-out;
}
.contme {
    padding: 35px 300px;
    text-align: center;
    flex-basis: 30%;
    color: #301d75;
    font-weight: 350;
    font-size: 25px;
    border-bottom: 1px solid white;
    font-weight: 500;
}
footer {
    background-color: rgb(238, 234, 234);
    text-align: center;
    font-size: 14px;
    padding: 17px;
    color: rgb(90, 86, 86);
}